<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Michael Kaveney</title>
</head>
<body>
    <h1>Who is Michael Kaveney?</h1>
    <h2>Educational Background</h2>
    <p>I am a double major within the Robert H. Smith School studying Finance and Information Systems.I
        am a Senior graduating in May of <strong>2023</strong> with internship experience mainly in the <em>Investment Management</em>
    Industry. The courses I have taken at UMD have prepared me for a full-time job following graduation.
    </p> <!-- This highlights some basic background information on my past
    academic experiences. -->
    <p>Favorite Courses Taken</p>

    <ul>
        <li>BMGT313</li>
        <li>BMGT443</li>
        <li>BMGT484</li>
        <!-- Here are a few of my favorite courses taken at UMD in an unordered list.-->
    </ul>

    <table>
        <tr>
            <th>Major Courses</th>
            <th>Semester Taken</th>
        </tr>
        <tr>
            <td>BMGT302</td>
            <td>Spring 2022</td>
        </tr>
        <tr>
            <td>BMGT402</td>
            <td>Fall 2022</td>
        </tr>
        <tr>
            <td>BMGT403</td>
            <td>Fall 2022</td>
        </tr>
    </table>

    <h2>Life Outside of School</h2>
    <p>I am originally from Westfield, New Jersey and have <strong>3</strong> older siblings. Growing up, I played basketball
    and lacrosse at Westfield High School and enjoyed spending time with friends and family outside of sports.
    I also spent most of my summers at the Jersey Shore at my beach house in <em>Lavalette</em>
    with family.
    </p>
    <p>Siblings in Order</p>

    <ol>
        <li>Megan</li>
        <li>Matthew</li>
        <li>Mara</li>
    </ol>
<!--Here is an ordered list of the my siblings from oldest to youngest-->
    <p>A link to my <a href="hello.html"> hello.html page</a>.</p>
    <p>A link to my favorite sports <a href="https://www.giants.com/"> teams page</a>.</p>
    <p>A link to my favorite website to shop <a href="https://www.amazon.com/" target="_blank"> at.</a> <p>

    <p>Here is the logo of the Robert H. Smith logo.</p>
<img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png"
     width="267" height="72" alt="Robert H. Smith logo">



</body>
</html>