{% extends "base.html" %}

{% block page_title %}Sign Up{% endblock %}

{% block page_head %}Sign Up{% endblock %}

{% block page_content %}

  {% if form_submitted==true %}
    <div class="mb-3">
      <h2>Thanks for completing!</h2>
    </div>
      <div class="mb-3">
      <p>First Name:</p>
      </div>
      <div class="mb-3">
      <p>{{  request.form.get('first_name') }}</p>
      </div>
      <div class="mb-3">
        <p>Last Name:</p>
      </div>
      <div class="mb-3">
        <p>{{  request.form.get('last_name') }}</p>
      </div>
           <div class="mb-3">
      <p>Email:</p>
      </div>
      <div class="mb-3">
      <p>{{  request.form.get('email') }}</p>
      </div>
           <div class="mb-3">
      <p>Username:</p>
      </div>
      <div class="mb-3">
         <p>{{  request.form.get('username') }}</p>
      </div>
      </div>

      {% else %}

<form class="row g-3" action="{{ url_for('contact') }}" method="post">
   <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">First Name</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" name="first_name" placeholder="Robert" rows="1"></textarea>
    </div>

    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Last Name</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" name="last_name" placeholder="Smith" rows="1"></textarea>
    </div>

   <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Email</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" name="email" placeholder="rsmith@umd.edu">
    </div>

   <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Username</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" name="username" placeholder="rsmith" rows="1"></textarea>
    </div>

  <div class="col-12">
    <input class="btn btn-primary" type="submit">Submit form</input>
  </div>
</form>
    {% endif %}

{% endblock %}